<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HatNewUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <HatNewUI.Properties.Settings>
            <setting name="SelectedPackId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedAuthor" serializeAs="String">
                <value>zhadko</value>
            </setting>
        </HatNewUI.Properties.Settings>
    </userSettings>
</configuration>
